<div class="rounded-2xl p-8  bg-[#FFF2F8] flex flex-col gap-7 sm:flex-row-reverse sm:justify-between sm:items-center">
   <div>
      <img src="man-coding.png" class="h-64"/>
   </div>
   <div class="flex flex-col gap-4 ">
      <div>
         <h1 class="font-bold text-3xl">Bem vinda de volta, <br /> Luiza</h1>
         <h3 class="opacity-80 pt-1"> Não se esqueça de atualizar as tarefas</h3>
      </div>
      <button class="
            flex w-fit bg-[#F88393] shadow-md shadow-pink-500/50 py-3 px-4 rounded-xl items-center
            text-white text-semibold gap-2 cursor-pointer 
            active:translate-y-1 transition-transform duration-100
         "
      >
         <lucide-icon [img]="CirclePlus" class="my-icon" [size]=24></lucide-icon>
         <p>Criar uma tarefa</p>
      </button>
   </div>
</div>
