<header class="bg-[#FAFAFA] py-3 px-6 w-full flex">
   <div class="flex items-center gap-2 p-3">
      <lucide-icon [img]="CircleCheckBig" class="my-icon"></lucide-icon>
      <h1 class="font-bold">TaskBoard</h1>
   </div>
   <nav class="p-3 ml-auto flex gap-6">
      <button class="bg-white p-2 rounded-xl" title="Notifications">
         <lucide-icon [img]="Bell" class="my-icon"></lucide-icon>
      </button>
      <div class="flex items-center gap-3">
         <img class="w-8 rounded-full" src="user-avatar.jpeg"/>
         <span class="font-bold whitespace-nowrap"> Luiza C. </span>
         <button>
            <lucide-icon [img]="LogOut" class="my-icon"></lucide-icon>
         </button>
      </div>
   </nav>
</header>
