<header class="bg-primary bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-10 border-b border-secondary border-opacity-20 py-1 px-5 w-full flex">
   <div class="flex items-center gap-2 p-3">
      <lucide-icon [img]="CircleCheckBig" class="my-icon" color="rgb(var(--color-primary))"></lucide-icon>
      <h1 class="font-bold text-xl">TaskBoard</h1>
   </div>
   <nav class="p-3 ml-auto flex gap-6">
      <button 
         class="flex items-center bg-white/50 border border-primary border-opacity-35 text-primary px-3 py-2 rounded-full gap-1
         active:translate-y-1 transition-transform duration-100"
         (click)="shuffleColors()"
      >
         <lucide-icon [img]="PaintBucket" [size]="16"></lucide-icon>
         <p class="text-sm ">Color Shuffle</p>
      </button>
   </nav>
</header>
