@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities; 

html {
   font-family: "Archivo", sans-serif !important;
}

:root {
   --todo: 217 119 6;
   --in-progress: 29 78 216;
   --done: 21 128 61;

   --lightgray: #D1D5DD;

   --color-primary: 29 78 216;
   --color-secondary: 147 197 253;
   --color-accent: 6 12 34;
   --color-light-base: 243 244 246;

   --gradient-bg: url("/teal-blue.png");
   }

@layer utilities {
   .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
   }
   .scrollbar-hide::-webkit-scrollbar {
      display: none;
   }
}