@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities; 

html {
   font-family: "Archivo", sans-serif !important;
}

:root {
   --todo: #D97706;
   --in-progress: #1D4ED8;
   --done: #15803D;

   --lightgray: #D1D5DD;

   --color-primary: 29 78 216;
   --color-secondary: 147 197 253;
   --color-accent: 2 6 23;
   --color-light-base: 243 244 246;

   --gradient-bg: linear-gradient(135deg, #F3F4F6 0%, #9cacfc 100%);
   }

@layer utilities {
   .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
   }
   .scrollbar-hide::-webkit-scrollbar {
      display: none;
   }
}