@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities; 

html {
   font-family: "Archivo", sans-serif !important;
}
