@let todoTasks = (this._taskService.todoTasks | async ) ?? [];
@let inProgressTasks = (this._taskService.inProgressTasks | async ) ?? [];
@let doneTasks = (this._taskService.doneTasks | async ) ?? [];
@let noTasks = todoTasks.length === 0 && inProgressTasks.length === 0 && doneTasks.length === 0;

<div class="p-3 mb-6 flex overflow-auto scrollbar-hide">
   <!-- To do -->
   <div 
      class="flex-1 py-3 px-6 min-w-60 flex flex-col"
      cdkDropList
      #todoListCdkDropList="cdkDropList"
      [cdkDropListData]="todoTasks"
      [cdkDropListConnectedTo]="[inProgressListCdkDropList, doneListCdkDropList]"
      (cdkDropListDropped)="onCardDrop($event)"
      id="to-do-column"
   >
      <div class="py-2 border-b border-lightgray flex items-center gap-2 mb-2 ml-1">
         <h1 class="font-bold"> To do</h1>
         <span class="text-xs font-semibold text-white bg-[var(--todo)] py-1 px-2 rounded-xl">{{todoTasks.length}}</span>
      </div>
      <div class="flex flex-col gap-4">
         @for(todoTask of todoTasks; track todoTask.id ){
            <app-task-card cdkDrag [cdkDragData]="todoTask" [task]="todoTask"/>
         }
      </div>
   </div>
   <!-- In progress -->
   <div 
      class=" flex-1 py-3 px-6 min-w-60 flex flex-col"
      cdkDropList
      #inProgressListCdkDropList="cdkDropList"
      [cdkDropListData]="inProgressTasks"
      [cdkDropListConnectedTo]="[todoListCdkDropList, doneListCdkDropList]"
      (cdkDropListDropped)="onCardDrop($event)"
      id="in-progress-column"
   >
      <div class="py-2 border-b border-lightgray flex items-center gap-2 mb-2  ml-1">
         <h1 class="font-bold">In progress</h1>
         <span class="text-xs font-semibold text-white bg-[var(--in-progress)] py-1 px-2 rounded-xl">{{inProgressTasks.length}}</span>
      </div>
      <div class="flex flex-col gap-4">
         @for(inProgressTask of inProgressTasks; track inProgressTask.id){
            <app-task-card cdkDrag [cdkDragData]="inProgressTask" [task]="inProgressTask"/>
         }
      </div>
   </div>
   <!-- Done -->
   <div 
      class=" flex-1 py-3 px-6 min-w-60 flex flex-col"
      cdkDropList
      #doneListCdkDropList="cdkDropList"
      [cdkDropListData]="doneTasks"
      [cdkDropListConnectedTo]="[todoListCdkDropList, inProgressListCdkDropList]"
      (cdkDropListDropped)="onCardDrop($event)"
      id="done-column"
   >
      <div class="py-2 border-b border-lightgray flex items-center gap-2 mb-2 ml-1">
         <h1 class="font-bold">Done</h1>
         <span class="text-xs font-semibold text-white bg-[var(--done)] py-1 px-2 rounded-xl">{{doneTasks.length}}</span>
      </div>
      <div class="flex flex-col gap-4">
         @for(doneTask of doneTasks; track doneTask.id ){
            <app-task-card cdkDrag [cdkDragData]="doneTask" [task]="doneTask"/>
         }
      </div>
   </div>
</div>
@if(noTasks) {
   <div class="flex justify-center items-center mt-10">
      <p class="font-medium text-gray-500">No tasks available!</p>
   </div>
}
