<div class="p-4 bg-[#FAFAFA] rounded-xl cursor-grab flex flex-col gap-3">
   <div class="flex gap-1 items-center">
      <p class="font-medium">My new task</p>
      <lucide-icon [img]="Trash" class="w-4 h-4 self-start ml-auto cursor-pointer" color="gray"/>
   </div>
   <p class="text-sm opacity-80">
      This is the description of my new task.
   </p>

   <div class="flex items-center gap-1 text-pink-800">
      <lucide-icon [img]="MessageSquareDot" [size]="16"/>
      <p class="font-semibold text-xs underline underline-offset-2 cursor-pointer">Comments</p>
      <p class="font-semibold text-xs underline underline-offset-2 cursor-pointer ml-auto">Edit</p>
   </div>

</div>
