<div class="p-4 bg-[#FAFAFA]/70 rounded-xl cursor-grab flex flex-col gap-3">
   <div class="flex gap-1 items-center">
      <p class="font-semibold" title="{{ task.name }}">
         {{ task.name.length < 13 ? task.name : (task.name | slice:0:13) + '...'}}
      </p>
      <div class="relative self-start ml-auto">
         <button 
            class="p-1 rounded-full cursor-pointer hover:bg-gray-200" 
            [class.bg-gray-200]="menuOpen"
            [title]="menuOpen ? 'Close options' : 'See options'"
            (click)="toggleMenu()"
         >
            <lucide-icon [img]="EllipsisVertical" [size]="16" color="gray" />
         </button>
         @if (menuOpen) {
            <div class="absolute left-0 top-6 mt-2 shadow-md bg-gray-100 rounded-md flex flex-col z-50 text-gray-800">
               <button 
                  class="flex text-sm items-center py-2 px-2 gap-2 border-b border-lightgray hover:bg-gray-200 rounded-t-md"
                  (click)="openEditModal()"
               >
                  <lucide-icon [img]="Pen" [size]="13"/>
                  <p>Edit</p>
               </button>
               <button (click)="deleteTask()" class="flex text-sm items-center py-2 px-2 gap-2 hover:bg-gray-200 rounded-b-md">
                  <lucide-icon [img]="Trash" [size]="13"/>
                  <p>Delete</p>
               </button>
            </div>
         } 
      </div>
   </div>
   <p class="text-sm opacity-70" title="{{ task.description }}">
      {{ task.description.length < 18 ? task.description : (task.description | slice:0:18) + '...' }}
   </p>

   <button 
      class="flex items-center gap-1 text-primary bg-secondary/30 rounded-md p-1 w-fit"
      (click)="openCommentsModal()"
   >
      <lucide-icon [img]="MessageCircle" [size]="14"/>
      <p class="font-semibold text-xs cursor-pointer" title="See comments ">{{task.comments.length}} Comments</p>
   </button>
</div>

