<form class="rounded-xl 2xl:rounded-2xl overflow-hidden bg-white" [formGroup]="taskForm" (ngSubmit)="onFormSubmit()">
   <div class="flex gap-1 items-center p-4 2xl:p-5">
      <lucide-icon [img]="_data.mode === 'create' ? CirclePlus : SquarePen" color="rgb(var(--color-primary))" class="mr-1"></lucide-icon>
      <h1 class="font-semibold text-lg 2xl:text-xl text-accent">{{ _data.mode === "create" ? "Create Task" : "Edit Task"}}</h1>
      <button class="ml-auto cursor-pointer" (click)="closeModal()">
         <lucide-icon [img]="X" color="#808080"></lucide-icon>
      </button>
   </div>
   <div class="flex p-4 2xl:p-5 border-y border-lightgray flex-col gap-4 2xl:gap-5">
      <div>
         <p class="font-semibold text-sm 2xl:text-base mb-2">Name</p>
         <input type="text" placeholder="Describe what needs to be done" class="w-full border border-lightgray rounded-lg text-sm 2xl:text-base font-light text-accent p-3 2xl:p-4 focus:outline-none focus:ring-1 focus:ring-primary/50" formControlName="name" />

         @if(taskForm.get("name")?.touched && taskForm.get("name")?.invalid) {
            <p class="font-medium text-sm text-red-500 ml-1">This field is required and must contain at least 5 characters.</p>
         }
      </div>
      <div>
         <p class="font-semibold text-sm 2xl:text-base mb-2">Description</p>
         <input type="text" placeholder="Add more details about the task"
            class="w-full border border-lightgray rounded-lg text-sm 2xl:text-base font-light text-accent p-3 2xl:p-4 focus:outline-none focus:ring-1 focus:ring-primary/50" formControlName="description" />
         @if(taskForm.get("name")?.touched && taskForm.get("name")?.invalid) {
            <p class="font-medium text-sm text-red-500 ml-1">This field is required and must contain at least 10 characters.</p>
         }
      </div>
   </div>
   <div class="p-4 2xl:p-5 flex justify-end gap-2">
      <button
         class="py-3 px-4 2xl:py-4 2xl:px-5 bg-[#FAFAFA] rounded-xl text-sm 2xl:text-base font-semibold cursor-pointer
               active:translate-y-1 transition-transform duration-100"
         type="button"
         (click)="closeModal()"
      >
         Cancel
      </button>
      <button  
         class="py-3 px-4 2xl:py-4 2xl:px-5 bg-primary rounded-xl text-sm 2xl:text-base font-medium cursor-pointer
               active:translate-y-1 transition-transform duration-100
               shadow-md shadow-primary/50 text-white
               disabled:opacity-50 disabled:cursor-not-allowed
               "
         type="submit"
         [disabled]="taskForm.invalid"
      >
         {{_data.mode === 'create' ? "Create" : "Save changes"}}
      </button>
   </div>
</form>
